package middlewares

import (
	"net/http"
	"log"
)

func Handle(next http.Handler) http.Handler {
	return http.HandlerFunc(func(w http.ResponseWriter, r *http.Request) {
		log.Println("[{{.Name}}]", r.Method, r.URL.Path)
		next.ServeHTTP(w, r)
	})
}
